body {
  margin: 0;
  /* background-color: mediumaquamarine; */
  background-image: url("../image/bkwh3.jpg")
  /* background-image: linear-gradient(right red,yellow); */
}


/* home page */

.box img {
  object-fit: cover;
}

.app-header {
  padding: 0.75em;
  font-size: 20px;
} 

.hometitle {
  margin: 0 auto;
  padding: .55em;
  text-align: center;
  background: linear-gradient(to right, rgb(143, 67, 205), rgb(25, 75, 81));
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
}

.toastorg {
  padding: .75em;
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
}

.homeimg {
  margin: 0 auto;
  width: 60%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.homebtn {
  margin: 0 auto;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Eval Page */

/* convert character entries to lower case */
input[type="text"] {
  text-transform: lowercase;
  text-transform: uppercase;
}

.main-eval h1, h2, h3{
  display: flex;
  justify-content: center;
  align-items: center;
}

.eval-levels {
  display: flex;
  flex-wrap: wrap;
  font-size: 25px;
}

.start-firstName {
  font-size: 23px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.start-firstName2 {
  font-size: 23px;
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.start-lastName {
  font-size: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.start-speechTitle {
  font-size: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-container {
  font-size: 20px;
  /* padding: 5rem; */
  padding-top: 50px;
  justify-content: space-between;
  display:flex;
  flex-direction: row;
}

.eval-sect {
  font-size:larger;
  margin-left: 20px;
  margin-bottom: 10px;
  padding: 5px;
  display: flex;
}

.subnext {
  display: flex;
  padding-top: 25px;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  
}

.subbtn {
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nextbtn {
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Indivual Recap Page */

.eval-sect2 {
  margin-left: 20px;
  margin-bottom: 5px;
  padding: 1px;
  display: flex;
  justify-content: space-around;
} 


.flex-container2 {
  font-size: 20px;
  padding: 5px;
  justify-content: space-evenly;
  display:flex;
  flex-direction: row;
} 


.subnext2 {
  display: flex;
  padding-top: 27%;
  position: relative;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  
}

.subbtn2 {
  display: block;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nextbtn2 {
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* About Page */

.flex-container2 {
  font-size: 20px;
  padding: 5rem;
  justify-content: space-between;
  display:flex;
  flex-direction: row;
}
.abouttitle {
  margin: 0 auto;
  padding: 0.75em;
  text-align: center;
}

.aboutimg {
  margin: 0 auto;
  width: 45%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.aboutpara {
  font-weight: bold;
  padding: .50rem;
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
}


.aboutbtn {
  margin: 0 auto;
  font-size: 22px;
  margin-top:  20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* div {
  width: 100%;
  height: 100%;
  border: 5px solid black;
  background: rgb(244, 230, 250);
  display: inline-block;
}  */

.example1 {
  height: 50px;	
  overflow: hidden;
  position: relative;
 }
 .example1 h3 {
  font-size: 3em;
  color: black;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 50px;
  text-align: center;
  /* Starting position */
  -moz-transform:translateX(100%);
  -webkit-transform:translateX(100%);	
  transform:translateX(100%);
  /* Apply animation to this element */	
  -moz-animation: example1 15s linear infinite;
  -webkit-animation: example1 15s linear infinite;
  animation: example1 15s linear infinite;
 }
 /* Move it (define the animation) */
 @-moz-keyframes example1 {
  0%   { -moz-transform: translateX(100%); }
  100% { -moz-transform: translateX(-100%); }
 }
 @-webkit-keyframes example1 {
  0%   { -webkit-transform: translateX(100%); }
  100% { -webkit-transform: translateX(-100%); }
 }
 @keyframes example1 {
  0%   { 
  -moz-transform: translateX(100%); /* Firefox bug fix */
  -webkit-transform: translateX(100%); /* Firefox bug fix */
  transform: translateX(100%); 		
  }
  100% { 
  -moz-transform: translateX(-100%); /* Firefox bug fix */
  -webkit-transform: translateX(-100%); /* Firefox bug fix */
  transform: translateX(-100%); 
  }
 }


 
 






