body {
  margin: 0;
  /* background-color: mediumaquamarine; */
  background-image: url("../image/bkwh3.jpg")
  
  /* background-image: linear-gradient(right red,yellow); */
}


/* home page */

.box img {
  object-fit: cover;
} 

.app-header {
  padding: 0.75em;
  font-size: 20px;
} 

.hometitle {
  margin: 0 auto;
  padding: .55em;
  text-align: center;
  background: linear-gradient(to right, rgb(143, 67, 205), rgb(229, 124, 222));
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
}

.toastorg {
  padding: .75em;
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
}

.homeimg {
  padding: 50px;
  border-radius: 25px;
  margin: 0 auto;
  width: 50%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.homebtn {

  padding: 15px;
  background-color: rgb(90, 248, 5);
  border-radius: 7px;
  margin: 0 auto;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Eval Page */

/* convert character entries to lower case */
input[type="text"] {
  text-transform: lowercase;
  text-transform: uppercase;
}

.evalTitle {
  background: linear-gradient(to right, rgb(143, 67, 205), rgb(229, 124, 222));
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
}
  

.main-eval h1, h2, h3{
  display: flex;
  justify-content: center;
  align-items: center;
}

.eval-levels {
  display: flex;
  flex-wrap: wrap;
  font-size: 25px;
}

.start-firstName {
  font-size: 23px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.start-firstName2 {
  font-size: 23px;
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.start-lastName {
  font-size: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.start-speechTitle {
  font-size: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-container {
  font-size: 20px;
  /* padding: 5rem; */
  padding-top: 50px;
  justify-content: space-between;
  display:flex;
  flex-direction: row;
}

.eval-sect {
  font-size:larger;
  margin-left: 20px;
  margin-bottom: 10px;
  padding: 5px;
  display: flex;
}

.subnext {
  display: flex;
  padding-top: 25px;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  
}

.subbtn {
  background-color: rgb(90, 248, 5);
  border-radius: 7px;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nextbtn {
  background-color: rgb(90, 248, 5);
  border-radius: 7px;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Indivual Recap Page */

.indivTitle {
  background: linear-gradient(to right, rgb(143, 67, 205), rgb(229, 124, 222));
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
}

.eval-sect2 {
  margin-left: 20px;
  margin-bottom: 5px;
  padding: 1px;
  display: flex;
  justify-content: space-around;
} 


.flex-container2 {
  font-size: 20px;
  padding: 5px;
  justify-content: space-evenly;
  display:flex;
  flex-direction: row;
} 


.subnext2 {
  display: flex;
  padding-top: 27%;
  position: relative;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  
}

.subbtn2 {
  background-color: rgb(90, 248, 5);
  border-radius: 7px;
  display: block;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nextbtn2 {
  background-color: rgb(90, 248, 5);
  border-radius: 7px;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* About Page */

.flex-container2 {
  font-size: 20px;
  padding: 5rem;
  justify-content: space-between;
  display:flex;
  flex-direction: row;
}
.abouttitle {
  margin: 0 auto;
  padding: 0.75em;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  background: linear-gradient(to right, rgb(74, 25, 114), rgb(229, 124, 222));
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
}

.aboutimg {
  border-radius: 15px;
  margin: 0 auto;
  width: 45%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.aboutpara {
  font-weight: bold;
  padding: .50rem;
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
}


.aboutbtn {
  background-color: rgb(90, 248, 5);
  border-radius: 10px;
  margin: 0 auto;
  font-size: 22px;
  margin-top:  20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

div {
  width: 100%;
  height: 100%;
  border: 3px solid black;
  background: rgb(244, 230, 250);
  display: inline-block;
} 

h1 {
  text-align: center;
  font-family: 'Kavoon', sans-serif;
  font-size: 2.5em;
  color: white;
} 

/* **************** */

.abouttitle::before,
.hometitle::before,
.toastorg::before {  
  transform: scaleX(0);
  transform-origin: bottom right;
}

.abouttitle:hover::before,
.hometitle:hover::before,
.toastorg:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.abouttitle::before,
.hometitle::before,
.toastorg::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background: hsl(200 100% 80%);
  z-index: -1;
  transition: transform .3s ease;
}

.abouttitle,
.hometitle,
.toastorg {
  position: relative;
  /* font-size: 5rem; */
}

html {
  block-size: 100%;
  inline-size: 100%;
}

body {
  min-block-size: 100%;
  min-inline-size: 100%;
  margin: 0;
  box-sizing: border-box;
  display: grid;
  place-content: center;
  font-family: system-ui, sans-serif;
}

@media (orientation: landscape) {
  body {
    grid-auto-flow: column;
  }
}




